/* Styles for the filter menu */
.filter-option {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* float: right; */
  width: 20%;
}

.filter-option label {
  font-weight: bold;
  margin-right: 10px;
}

.filter-option input[type="text"],
.filter-option input[type="radio"],
.filter-option input[type="checkbox"],
.filter-option button {
  vertical-align: middle; /* Align checkboxes and radios with text vertically */
  margin-right: 5px;
}

.filter-option button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filter-option button:hover {
  background-color: #0056b3;
}

.container {
  display: flex; /* Use Flexbox */
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: flex-start; /* Align items to the start (top) */
}

#filtered-listings{
  flex: 1;
  
}